#wrapper {
	background-color: yellow;
	width: 1024px;
	height: 1024px;
	margin-left: auto;
	margin-right: auto;
}
#battlefield {
    background-color: grey;	
}

#health {
	background-color: yellow;
	margin-left: 137px;
	margin-top: 10px;
}